@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
:root {
 --font:sans-serif;
 --primary-font:"Roboto", sans-serif;
 --primary-color:#fff;
 --secondary-color: #002244;
 --tertiary-color: rgb(121, 92, 52);
 --text-color:gray;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
}

::-webkit-scrollbar{width: 15px;}
::-webkit-scrollbar-track{background:var(--secondary-color);}
::-webkit-scrollbar-thumb{background:linear-gradient(Transparent ,var(--primary-color), var(--tertiary-color));border-radius: 10px;height: 20vh;}

/* Start of hero section */

.hero{
  width: 100%;
  min-height:auto;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.hero header{
  width: 100%;
  padding: 10px 0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: var(--secondary-color);
  z-index: 2;
}

.hero header img{
  display: none;
}
.hero header a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 300;
}

.hero header h1{
  color: var(--primary-color);
  text-decoration: none;
  font-family:var(--primary-font);
  padding: 0px 10px;
  font-weight: 100;
  margin: 0px 20px;
} 

header button{
  cursor: pointer;
  width: 15em;
  background: var(--tertiary-color);
  color: var(--primary-color); 
  padding: 15px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button:hover{
  background: var(--secondary-color);
  color: var(--primary-color); 
  padding: 15px 20px;
  border: 1px solid var(--primary-color);
}

.hero nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
.hero nav ul li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.hero nav ul li a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
}
.hero nav ul li a:hover{
  opacity: .9;
  color: var(--tertiary-color);
}

.content{
  font-family: var(--primary-font);
  padding: 10px 20px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-message{
  width: 100%;
}
.content h1{
  margin-top: 8%;
  font-weight: 500;
  font-size: 4em;
  text-transform: capitalize;
  color: var(--primary-color);
  opacity: .9;
}
.content h1 span{
  color: var(--tertiary-color);
}

.content p{
  color: var(--primary-color);
  font-weight: 300;
  font-style: italic;
}
.content a .small{
  margin-top: 15%;
}
.content a{
  text-decoration: none;
}

.hero-card{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.imgCard{
  width: 40em;
  height: 20em;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
.imgCard img{
  width: 100%;
}

/* End of hero section */

/* start of call to action */
.unique-el{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-align: center;
}
.title h1{
  color: var(--tertiary-color);
  text-transform: capitalize;
  font-size:3em;
}
.title p{
  margin-top: 2%;
  color: var(--text-color);
  text-align: center;
  text-transform: capitalize;
}
.unique-cards{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.uni-card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  padding: 0px 10px;
  flex-wrap: wrap;
  transition: .7s;
  width: 19em;
  height: 22em;
  border: 1px solid var(--tertiary-color);
  border-radius: 20px;
}
.uni-card:hover{
  scale: 1.1;
}
.active{
  background: var(--secondary-color);
  color: var(--primary-color);
}
.active .uni-img{
  background: var(--primary-color);
}

.uni-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  object-fit: cover;
  overflow: hidden;
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
}

 button{
  cursor: pointer;
  width: auto;
  background: var(--tertiary-color);
  color: var(--primary-color); 
  padding: 15px 20px;
  border: 1px solid var(--tertiary-color);
  border-radius: 25px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap:10px;
}
 button:hover{
  background: var(--secondary-color);
  color: var(--primary-color); 
  padding: 15px 20px;
  border: 1px solid var(--primary-color);
}

button img{
  transform: rotate(45deg);
}

/* start of about section */
.about{
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
  gap: 30px;
  color: var(--text-color);
}
.about a{
  text-decoration: none;
}
/* end of about section */

/* start of appartments section */
hr{
  color: var(--tertiary-color);
}
.appartmentBox{
  width: 80%;
  margin: auto;
}
.appartmentCard{
  margin: 3% auto;
  padding: 10px 30px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--text-color);
}
.appartmentImg{
  object-fit: contain;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
}
.appartmentImg img:hover{
  transition: .8s ease;
  scale: 1.1;
}
.appartment-info{
  width: 50%;
}
.appartment-title{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.appartment-title h1{
  text-transform: capitalize;
}
.appartment-title a{
  text-decoration: none;
}

.alternate{
  flex-direction: row-reverse;
  gap: 3%;
}
/* end of appartments section */

/* start of services section */
.banner{
  width: 100%;
  height: auto;
  background: var(--tertiary-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-radius: 50px;
  padding: 10px 0px 20px 0px;
}
.banner .title{
  color: var(--primary-color);
}
.banner .title h1{
  font-size: 3em;
  color: var(--primary-color);
  font-weight: bold;
}
.banner .title p{
  color: var(--primary-color);
  opacity: .8;
}
.banner-img-content{
  display: flex;
  align-items: center;
  gap: 1.6em;
  flex-wrap: wrap;
  justify-content: center;
}
.banner-img-container{
margin-top: 4%;
width: 18em;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
background: var(--primary-color);
border: 1px solid var(--tertiary-color);
}
.banner-img-card{
  width: 18em;
  height: 14em;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
.banner-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}
.banner-info h1{
font-size: 1.2em;
color: var(--secondary-color);
text-transform: capitalize;
}
.banner-info p{
color: var(--text-color);
text-align: center;
}
.banner-info span{
  text-decoration: line-through;
}
/* End of services section */

/* start of testimonial section */
.testimonial-container{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.testimonialCard{
  width:28%;
  height:30vh;
  background: var(--tertiary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}
.testimonialCard h3{
margin-top: 1%;
color: var(--primary-color);
}
.testimonial-img{
  width:20%;
  height:10vh;
  object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.testimonial-content{
  margin-top: 3%;
}
.testimonial-content p{
  color: var(--primary-color);
  opacity: .7;
}
/* end of testimonial section */

/* start of dashboard banner section */
.dashboard-banner{
  margin-top: 3%;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,.6),var(--secondary-color)), url(./assets/2BedRoomSelfC.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-message-container{
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message-container h1{
  font-size: 4em;
  color: var(--primary-color);
}
.message-container p{
  font-size: 2em;
  color: var(--primary-color);
  opacity: .6;
}
/* end of dashboard banner section */

/* start of contact section */
.contact-box-container{
  margin: auto;
  width: 90%;
  display: flex;
}
.contact-details-container{
  margin-top: 4%;
}
.contact-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-img{
  width: 30%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info{
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-info h1{
  font-size: 1.6em;
  text-transform: capitalize;
}
.contact-info p{
  font-size: 1.4em;
}
.contact-info a{
  font-size: 1.4em;
  margin: 0px 10px;
}
.contact-info span{
  font-size: 1.4em;
}

.contact-form{
  width: 40%;
  height: auto;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-input-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-input-container label{
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 500;
}
.form-input-container textarea , .form-input-container input{
  width: 100%;
  padding: 4px 0px 10px 0px;
  overflow: hidden;
  outline: none;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  font-size: 1.1em;
}
.form-input-container textarea::placeholder , .form-input-container input::placeholder{
  font-size: 1.2em;
  text-transform: capitalize;
  opacity: .5;
}
form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
form h1{
  text-transform: capitalize;
  color: var(--tertiary-color);
}
/* end of contact section */

/* start of footer section */
.footer-container{
  margin-top: 3%;
  width: 100%;
  height: 20vh;
  background: var(--tertiary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primary-color);
}
.footer-container h1{
  color: var(--primary-color);
  opacity: .7;
}
.footer-container p{
  color: var(--primary-color);
  opacity: .4;
}
/* end of footer section */

/* start of media query section */
@media(max-width:1200px){
  html{
    font-size: 78%;
  }
}
@media(max-width:1100px){
  .imgCard{
    width: 38em;
    height: 15em;
  }
  .hero-card{
    gap: 5px;
  }
}
@media(max-width:1010px){
  .imgCard{
    width: 37em;
    height: 15em;
  }
}
@media(max-width:970px){
  .imgCard{
    width: 32em;
    height: 15em;
  }
  .hero header a{
    font-size: .8em;
  }
}
@media(max-width:860px){
  header button{
    display: none;
  }
  .imgCard{
    width: 30em;
    height: 15em;
  }
}
@media(max-width:800px){
  .imgCard{
    width: 100%;
    height: 15em;
  } 
  .contact-info h1{
    font-size: 1.2em;
  }
}
@media(max-width:710px){
  .content h1{
    margin-top:10%;
  }
  .appartmentCard{
    flex-direction: column-reverse;
    gap: 3em;
  }
  .alternate{
    flex-direction: column-reverse;
  }
  .appartmentImg{
    width: 100%;
  } 
  .appartment-info{
    width: 100%;
  }
  .appartment-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-container{
    flex-direction: column;
  }
  .testimonialCard{
    text-align: center;
    width: 80%;
  }
  .testimonial-img{
    width:15%;
    height:10vh;
  }
  .contact-box-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-form{
    margin: auto;
    width: 90%;
  }
  form h1{
    text-align: center;
  }
  form button{
    width: 100%;
  }
}
@media(max-width:631px){
  .appartmentCard{
    flex-direction: column-reverse;
    gap: 3em;
  }
  .alternate{
    flex-direction: column-reverse;
  }
  .title h1{
    font-size: 2em;
  }
  .hero header a{
    font-size: .6em;
  }
  .hero header img{
    display: block;
    cursor: pointer;
  }
  nav ul{
    display: none;
  }
  .footer-container{
    flex-direction: column;
  }
  .uni-card{
    width: 80%;
  }
  .banner-img-content{
    flex-direction: column;
  }
  .banner-img-container{
    height: auto;
  }
  .banner-img-container,.banner-img-card{
    width: 80%;
  }
}
@media(max-width:610px){
  .message-container h1{
    font-size: 2em;
    color: var(--primary-color);
  }
  .message-container p{
    font-size: 1.2em;
  }
  .banner-img-card{
    width: 100%;
    height: 40vh;
  }
  header{
    justify-content: space-between;
  }
  .content h1{
    font-size: 3em;
  }
  .dashboard-message-container{
    flex-direction: column;
    gap: 1.2em;
  }
  .banner .title h1{
    font-size: 2em;
  }
  .appartment-title h1{
    font-size: 2em;
  }
}
@media(max-width:380px){
  .content h1{
    font-size: 2.5em;
  }
  .imgCard{
    height: 20vh;
  }
}
@media(max-width:355px){
  .contact-info a{
    font-size: 1.2em;
    margin: 0px 5px;
  } 
  button{
    font-size: .8em;
  }
}
@media(max-width:301px){
  .contact-info a,.contact-info h1,.contact-info p{
    font-size: 1em;
    margin: 0px;
  } 
  .banner .title h1{
    font-size: 1.2em;
  }
  .appartment-title h1{
    font-size: 1.2em;
  }
}
/* end of media query section */